@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #F0FBFF;
    height: 750px;
    font-family: 'Montserrat';
}

body {
    background-color: #ececec;
}

header {
    background: #ffffff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
}

#imagem {
    display: flex;
    align-items: center;
    gap: 15px;
}

#logo_colegio {
    width: 50px;
}

#imagem h3 {
    font-weight: 600;
    font-size: 18px;
    color: #333;
}

ul {
    display: flex;
    gap: 50px;
    list-style: none;
}

.voltar {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 15px;
}

.voltar img {
    width: 3%;
    margin-top: 30px;
}

.largest-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -20px;
    height: 700px;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-bottom: 24px;
}

.title p {
    font-size: 22px;
    font-weight: bold;
}

.main-container {
    text-align: left;
    display: flex;
    flex-direction: column;
    background-color: #FFFF;
    width: 50%;
    max-width: 400px;
    height: 80%;
    border: 1px solid #A8BCC7;
    font-size: larger;
    border-radius: 20px;
    padding: 30px 25px;
}

.main-container h2 {
    margin-bottom: 20px;
}

.main-container input {
    border: none;
    background-color: #F3F3F3;
    /* outline: none; */
    width: 100%;
    padding: 10px 10px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.main-container label {
    text-align: left;
    font-weight: bold;
    margin-bottom: 10px;
}

.main-container button {
    background-color: #C49EE6;
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    font-weight: bold;
    display: block;
    margin: 0 auto 15px;
    cursor: pointer;
}

.main-container button:hover {
    background-color: #bb86e9;
    transition: all 0.3s ease;
    transform: scale(1.05);
}

p {
    margin-top: 30px;
    font-size: 17px;
    text-align: center;
}

.main-container a {
    text-decoration: underline;
}