@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #ececec;
}

header {
    background: #ffffff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
}

#imagem {
    display: flex;
    align-items: center;
    gap: 15px;
}

#logo_colegio {
    width: 50px;
}

#imagem h3 {
    font-weight: 600;
    font-size: 18px;
    color: #333;
}

#nav-header ul {
    display: flex;
    gap: 50px;
    list-style: none;
}

#filtroAluno {
    display: flex;
    justify-content: center; /* centraliza horizontalmente */
}

#valorAluno {
    width: 100%; 
    padding: 8px;
    border-radius: 8px;
    border-color: #b8b8b8;
}

#nav-header a {
    text-decoration: none;
    color: #444;
    font-size: 15px;
    font-weight: 500;
}

#nav-header a:hover {
    color: #A25DDF;
}

/* FUNDO PRINCIPAL */

#fundo_tela {
    padding: 40px 80px;
}

/* TOPO */

#topo {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 30px;
}

#topo h1 {
    font-size: 46px;
    color: #A25DDF;
    font-weight: 700;
    margin-bottom: 10px;
}

#topo p {
    color: #363636;
    font-size: 14px;
}

/* CARDS DE INFORMAÇÃO */

#informacoes_gerais {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 10px;
}

#informacao {
    background: #ffffff;
    border: 1.5px solid #cfd8e3;
    border-radius: 12px;
    padding: 26px 60px ;
    min-width: 220px;
}

#informacoes_aluno {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    margin-top: 10px;
}

#informacao_aluno {
    display: flex;
    justify-content: space-around
}

#informacao p {
    font-size: 18px;
}

/* CARD PRINCIPAL (TABELA) */

#tela_principal {
    margin: 2px auto;
    width: 90%;
    background: #ffffff;
    border: 1.5px solid #bcd0ea;
    border-radius: 15px;
    padding: 30px;
}

/* TABELA */

#tela_principal hr {
    border: none;
    height: 1px;
    background-color: #a5a5a5;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
}

th {
    color: #A25DDF;
    font-weight: 600;
    font-size: 18px;
    padding: 15px 10px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

td {
    padding: 15px 10px;
    border-bottom: 1px solid #eee;
    color: #444;
}

tr:hover {
    background-color: #fafafa;
}

/* BOTÃO */

button {
    background: none;
    border: none;
    color: #A25DDF;
    font-weight: 600;
    cursor: pointer;
}

button:hover {
    opacity: 0.7;
}
