*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background:#f4f4f4;
    color:#333;
}

header{
    width:100%;
    background:#ffffff;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 60px;
}

.logo{
    display:flex;
    align-items:center;
    gap:12px;
}

.logo img{
    width:45px;
}

.logo h3{
    font-weight:600;
}

.nav-header ul{
    display:flex;
    list-style:none;
    gap:35px;
}

.nav-header a{
    text-decoration:none;
    color:#000;
    font-size:15px;
    transition:0.2s;
}

.nav-header a:hover{
    color:#9b5de5;
}

.perfil-card{
    width:100%;
    max-width:1100px;
    margin:50px auto;
}

.barra-inicial {
    margin: 60px;
}

.barra-inicial h2{
    font-size:40px;
    color:#9b5de5;
    margin-bottom:8px;
}

.barra-inicial p{
    color:#6d6d6d;
    margin-bottom:40px;
}

.main-container{
    display:flex;
    justify-content:center;
}

.info-aluno {
    margin-top:30px;
    background:#ffffff;
    padding:30px;
    border-radius:15px;
    border:1px solid #bcd0ea;
    max-width:600px;
    margin: -15px;
}

.linha {
    display:flex;
    justify-content:space-between;
    padding:15px 0;
    border-bottom:1px solid #eee;
}


.info-aluno input{
    border:none;
    padding:6px 4px;
    outline:none;
    font-size:14px;
}

.info-aluno button{
    margin-top:20px;
    padding:10px;
    border:none;
    border-radius:10px;
    background:#9b5de5;
    color:white;
    cursor:pointer;
    transition:0.2s;
}

.info-aluno button:hover{
    background:#7c43c4;
}

.nao-encontrado{
    margin-top:40px;
    text-align:center;
}

.nao-encontrado img{
    margin-bottom:15px;
}