<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aluno | Tela Inicial</title>
    <link rel="stylesheet" href="/src/main/webapp/WEB-INF/assets/style/style.css">
    <link rel="stylesheet" href="/src/main/webapp/WEB_INF/assets/style/crud_geral.css">

</head>

<body>
    <main>
        <header>
            <div class="imagem">
                <img id="logo_colegio" src="/src/main/webapp/WEB-INF/assets/imgs/logoColegio.png" alt="Logo colegio">
                <h3>Instituto de <br> Tecnologia</h3>
            </div>

            <nav class="nav-header">
                <ul>
                    <li>
                        <a href="${pageContext.request.contextPath}/area-restrita/indexPagPrincipal.jsp">Página inicial</a>
                    </li>
                    <li>
                        <a href="${pageContext.request.contextPath}/area-restrita/indexObservacao.jsp">Observação</a>
                    </li>
                    <li>
                        <a href="${pageContext.request.contextPath}/area-restrita/indexPerfil.jsp">Perfil</a>
                    </li>
                    <li>
                        <a href="index.html">Logout</a>
                    </li>
                </ul>
            </nav>
        </header>

        <div class="fundo_tela">

            <div class="topo">
                <div id="local">
                    <h1>Visualize os alunos!</h1>
                    <p>Acompanhe seus alunos, registre notas e faça observações.</p>
                </div>

                <div class="filtro-card">
                    <form action="${pageContext.request.contextPath}/area-restrita/fabricas" method="get">
                        <input type="hidden" name="action" value="read">

                        <div class="filtragem">
                            <label>
                                Campo de Filtragem:
                                <select id="campoFiltro" name="campo_filtro" onchange="tipoCampoFabrica()">
                                    <option value="" selected>Nenhum selecionado</option>
                                    <option value="turma" data-type="text">Turma:</option>
                                    <option value="matricula" data-type="text">Matrícula:</option>
                                </select>
                            </label>
                        </div>

                        <div class="filtragem" id="filtroGeral">
                            <label for="valorFiltro">Digite o valor:</label>
                            <input type="text" id="valorFiltro" name="valor_filtro">
                        </div>

                        <div class="filtragem" style="display: none">
                            <label for="valorPlano">Valor Filtrado:</label>
                            <select name="valor_plano" id="valorPlano">
                                <option value="">--- SELECIONE ---</option>
                                <% for (String plano : planos.values()) {%>
                                    <option value="<%=plano%>">
                                        <%=plano%>
                                    </option>
                                    <% } %>
                            </select>
                        </div>

                        <div id="cabecalho">

                            <form action="${pageContext.request.contextPath}/area-restrita/fabricas" method="get">
                                <input type="hidden" name="action" value="read">
                                <button id="limpaFiltro" type="submit">Limpar Filtros</button>
                            </form>


                            <input type="submit" value="Filtrar" id="filtrar">
                        </div>
                    </form>
                </div>
            </div>

            <div id="procurar-card">
                <form action="${pageContext.request.contextPath}/area-restrita/fabricas" method="get">
                    <input type="hidden" name="action" value="read">

                    <div class="filtragem" id="filtroALuno">
                        <input placeholder="Digite o número de matrícula do aluno" type="text" id="valorAluno"
                            name="valor_filtro">
                    </div>
                </form>
            </div>

        </div>


        <div class="tela_principal">

            <div class="tabela_usuarios">
                <% Aluno aluno = (Aluno) request.getAttribute("aluno"); %>

                <div id="informacoes_aluno">
                    <div id="informacao_aluno">
                        <h3>Nome:</h3>
                        <p> <%= aluno.Nome() % ></p>
                    </div>
                    <div id="informacao_aluno">
                        <h3>Turma:</h3>
                        <p> <%= aluno.getTurma()%> </p>
                    </div>
                </div>
                <hr>
                <table border="0">
                    <tr id="titulo_tabela">
                        <th>Matéria</th>
                        <th>Nota 1</th>
                        <th>Nota 2</th>
                        <th>Média </th>
                        <th>Observações</th>
                    </tr>
                    <% for (AlunosDTO aluno : aluno) { %>
                        <tr>
                            <td>
                                <%= aluno </td>
                            <td>
                                <%= aluno.getMateria() %>
                            </td>
                            <td>
                                <%= aluno.getNota1() %>
                            </td>
                            <td>
                                <%= aluno.getNota2() %>
                            </td>
                            <td>
                                <%= aluno.getMedia() %>
                            </td>
                            <td>
                                <%= aluno.getObservacao() %>
                            </td>
                            <td>
                                <form action="${pageContext.request.contextPath}/area-restrita/fabricas" method="get">
                                    <input type="hidden" name="id" value="<%= f.getId() %>">
                                    <input type="hidden" name="action" value="update">
                                    <button id="editar" type="submit">Editar</button>
                                </form>
                            </td>
                        </tr>
                        <% } %>
                </table>
            </div>

        </div>
        </div>

    </main>
    <script src=""></script>
</body>

</html>