@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

body {
    background-color: #F0FBFF;
    color: #333;
    font-family: 'Montserrat';
    display: flex;
    justify-content: center;
    align-items: center;
    height: 750px;
    font-size: 25px;
}

form {
    background-color: #ffffff;
    width: 65%;
    padding: 50px;
    border-radius: 20px;
    border: 1px solid #5588A3;
}

.sb {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

hr {
    margin-bottom: 20px;
}

strong,
label {
    color: #4FB2D9;
    font-weight: bold;
}

input {
    background: none;
    border: none;
    font-size: 20px;
    outline: none;
    border-bottom: 1px solid #666;
}

textarea {
    display: block;
    width: 500px;
    height: 50px;
    resize: none;
    font-size: 20px;
    outline: none;
    border: none;
    border-bottom: 1px solid #666;
}

button {
    background-color: #A25DDF;
    color: #ffffff;
    padding: 15px;
    border: none;
    border-radius: 10px;
    font-size: 25px;
    cursor: pointer;
}

button:hover {
    background-color: #7d48ab;
    transform: scale(1.05);
    transition: all 0.3s ease;
}