@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F0FBFF;
    color: #333;
    font-family: 'Montserrat';
}

header {
    background: #ffffff;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
}

.logo {
    display: flex;
    align-items: center;
    gap: 15px;
}

.logo img {
    width: 50px;
}

.logo h3 {
    font-weight: 600;
    font-size: 18px;
    color: #333;
}

.nav-header ul {
    display: flex;
    gap: 50px;
    list-style: none;
}

.nav-header a {
    text-decoration: none;
    color: #444;
    font-size: 15px;
    font-weight: 500;
}

.nav-header a:hover {
    color: #A25DDF;
}

main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.subtitle {
    margin-top: 40px;
    margin-bottom: 20px;
    margin-left: 190px;
}

.subtitle h2 {
    font-size: 36px;
    color: #A25DDF;
    font-weight: bold;
}

.subtitle p {
    color: #666;
    font-size: 14px;
    margin-top: -1px;
}

.row {
    display: flex;
    justify-content: space-between;
}

.card {
    background-color: #ffffff;
    margin: 0 auto;
    width: 75%;
    padding: 25px;
    border-radius: 14px;
    border: 1px solid #5588A3;
}


.card p {
    margin-bottom: 10px;
    font-size: 14px;
}

.card strong {
    color: #3da5ff;
    font-weight: 600;
}